<div class="find-table">
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>Email Address</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Number of days</th>
        <th>Home address</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |data|}}
      <tr>
        <td>{{data.emailAddress}}</td>
        <td>{{data.date}}</td>
        <td>{{data.from}}</td>
        <td>{{data.to}}</td>
        <td>{{data.no_days}}</td>
        <td>{{data.homeAddress}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
