<div class="form">

  <div id="">

    <h1>Share your parking spot</h1>

    <div class="top-row">
      <div class="field-wrap">
        {{input type="email" value=emailAddress class="req" placeholder="Enter your e-mail address." autofocus="autofocus"}}
      </div>

      <div class="field-wrap">
        {{input type="text" value=date class="req" placeholder="Enter the date" autofocus="autofocus"}}
      </div>
    </div>

    <div class="field-wrap">
      {{input type="text" value=from class="req" placeholder="from (e.g: 12 pm)" autofocus="autofocus"}}
    </div>

    <div class="field-wrap">
      {{input type="text" value=to class="req" placeholder="to (e.g: 4 pm)" autofocus="autofocus"}}
    </div>

    <div class="field-wrap">
      {{input type="text" value=no_days class="req" placeholder="Enter number of days" autofocus="autofocus"}}
    </div>

    <div class="field-wrap">
      {{input type="text" value=homeAddress class="req" placeholder="Enter your address" autofocus="autofocus"}}
    </div>

    <button class="btn btn-primary btn-lg btn-block" {{action 'saveParking'}} disabled={{isDisabled}}>Submit</button>

  </div>


</div> <!-- /form -->
