<div class="form">

  <ul class="tab-group">
    <li class="tab active">{{#link-to "signup"}}Sign up{{/link-to}}</li>
    <li class="tab">{{#link-to "login"}}Log in{{/link-to}}</li>
  </ul>

    <div id="signup">
      <h1>Sign Up for Free</h1>

        <div class="top-row">
          <div class="field-wrap">
              {{input type="text" value=firstName class="req" placeholder="First Name" autofocus="autofocus"}}
          </div>

          <div class="field-wrap">
            {{input type="text" value=lastName class="req" placeholder="Last Name" autofocus="autofocus"}}
          </div>
        </div>

        <div class="field-wrap">
          {{input type="email" value=emailAddress class="req" placeholder="Email Address" autofocus="autofocus"}}
        </div>

        <div class="field-wrap">
          {{input type="password" value=password class="req" placeholder="Please type your e-mail password." autofocus="autofocus"}}
        </div>

        <button type="submit" class="button button-block" {{action 'signup'}}>Get Started</button>

    </div>


</div> <!-- /form -->
